torch
torchvision
roma
evo
gradio
matplotlib
tqdm
opencv-python
scipy
einops
trimesh
tensorboard
pyglet<2
huggingface-hub[torch]>=0.22
gdown
imageio[ffmpeg]
cython
icecream
jaxtyping
laspy
einops
plyfile
torch_scatter
torchmetrics
py3-wget
git+https://github.com/facebookresearch/pytorch3d.git@stable